body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    margin: 0; /* Elimina el margen por defecto del body */
    padding: 0; /* Elimina el relleno por defecto del body */
    box-sizing: border-box; /* Incluye padding y borde en el ancho y alto */
}
.row {
    height: 100%;
    width: 100%;
}


.sidenav {
    z-index: 2000; /* Asegura que el sidenav está por encima de la navbar */
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; /* Asegura que la navbar esté por encima de otros elementos */
    background-color: rgb(17, 17, 160);
    box-sizing: border-box;
    height: 105px;
}

#logo {
    position: absolute;
    left: 90px;
    margin-top: 10px;
}

#datosMenu {
    margin-top: 20px;
    padding-right: 200px;
}

#datosMenu li {
    border-radius: 100px;
    text-align: right;
}

#datosMenu li a {
    text-align: right;
    border-radius: 100px;
}

#datosMenu li a:hover {
    border-radius: 100px;
    background-color: #0a0a0a;
    color: rgb(255, 255, 255);
}

.dropdown-content {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}

#iconoMenu {
    font-size: 50px;
    margin: 20px;
}
footer {
    display: grid;
    margin: 0;
    padding: 0;
    height: auto; /* Permite que el footer se ajuste en altura */
    width: 100%;
    background-color: rgb(17, 17, 160);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Añade un pequeño espacio entre las columnas */
}

.logoFotter {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.separatorFotter {
    margin-left: 10px; /* Ajustado para responsividad */
    border-radius: 20px;
    height: 90px;
    width: 4px;
    background-color: #ccc;
}

.leyendaFotter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #fff;
}

.leyendaFotter p {
    margin: 8px;
    padding: 0;
    color: #fff;
    line-height: 1;
}

.linksLateralesFotter {
    display: flex;
    flex-direction: column; /* Siempre en forma de columna */
    align-content: center;
    justify-content: center;
    text-align: left;
    font-size: 14px;
}

.linksLateralesFotter a {
    color: #fff;
    margin: 2px 0; /* Añade espacio entre los enlaces */
}

@media (max-width: 768px) {
    footer {
        grid-template-columns: 1fr;
        text-align: center; /* Centra el texto en pantallas más pequeñas */
        padding: 10px; /* Añade padding para espaciar el contenido */
    }

    .logoFooter, .leyendaFotter, .linksLateralesFooter {
        justify-content: center;
        text-align: center;
        margin: 10px 0; /* Añade margen vertical para separar las secciones */
    }

    .separatorFotter {
        display: none; /* Oculta el separador en pantallas pequeñas */
    }

    .linksLateralesFotter {
        text-align: center; /* Ajusta el texto de los enlaces al centro */
    }
}

/* inicio de los estilos del documento */
.carrusel{
    margin-top: 105px;
}
/* Cambiar color de los indicadores no activos */
#carruselId .indicators .indicator-item {
    background-color: #bdbdbd; /* Color gris claro para los indicadores no activos */
}

/* Cambiar color de los indicadores activos */
#carruselId .indicators .indicator-item.active {
    background-color: #ff4081; /* Color rosa para el indicador activo */
}

/* Estilos para el carrusel automático */
#carruselAutoId {
    background-color: #ffff;
}

#carruselAutoId img {
    height: 85px;
}

#pagoPSE {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e4e4e4;
}

.navigation-bar {
    display: flex;
    width: auto;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 255);
    border-radius: 50px;
    padding: 10px 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-item {
    display: flex;
    width: auto;
    align-items: center;
    padding: 10px 5px;
    border-radius: 25px;
    background-color: #ffff;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #0a0057;
    font-size: 10px;
}

.nav-item i {
    margin-right: 6px;
}

.nav-item:hover {
    background-color: #4678f8;
}

.nav-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.separator {
    height: 30px;
    width: 1px;
    background-color: #ccc;
}

#bannerEmpresa {
    margin: 0;
    padding: 0;
}

.imagenBanner {
    width: 100%;
    height: 350px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.imagenBanner img {
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0;
}

#tarjetasInformativas {
    background-color: #ffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en filas si no caben en una sola fila */
    justify-content: space-around; /* Distribuye las tarjetas de manera uniforme en el contenedor */
    font-size: 10px;
}

.contenedorTarjeta {
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada tarjeta para ocupar un tercio del contenedor, restando el espacio entre las tarjetas */
    height: 200px;
    margin-right: 10px; /* Espacio entre las tarjetas */
    margin-bottom: 20px;
    background-color: rgb(238, 238, 238); /* Color de fondo de las tarjetas */
    padding: 20px; /* Espaciado interno de las tarjetas */
    border-radius: 10px; /* Borde redondeado de las tarjetas */
    display: flex; /* Utiliza flexbox para alinear el contenido */
    align-items: center; /* Centra el contenido verticalmente */
}

.imagenTarjeta img {
    max-width: 100%; /* La imagen se ajustará automáticamente al ancho máximo del contenedor */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    margin-right: 30px; /* Espacio entre la imagen y el texto */
}

.textTarjeta spam {
    display: block; /* Cambia el elemento <spam> a un bloque para que se pueda centrar verticalmente */
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 14px; /* Ajusta el tamaño del texto */
    margin-bottom: 5px; /* Espacio inferior entre el spam y el párrafo */
}

.textTarjeta p {
    margin-bottom: 5px; /* Espacio inferior entre los párrafos */
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
    .contenedorTarjeta {
        width: calc(50% - 20px); /* Ajusta el ancho de cada tarjeta para ocupar la mitad del contenedor en dispositivos pequeños */
    }
}
